# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true

# Tab indentation (no size specified)
[*.{c,cpp,h}]
indent_style = tab
